<html>
<head>
	<title>
		Static Analysis Application
	</title>
</head>
<body>
	<div align="center">
		<h1>
			Please log in.
		</h1>
		<form action="/login" method="POST">
			<p>
				Username : <input type="text" name="loginid">
			</p>
			<p>
				Password : <input type="password" name="password">
			</p>
			<p>
				<input type="submit" name="modeSelection" value="Log In">
			</p>
			<p>
				<input type="submit" name="modeSelection" value="New user Register here">
			</p>
		</form>
	</div>
</body>
</html>
