<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pixelate User Registration</title>
</head>
<body>
<div align="center">

    <h1>Welcome!</h1>
    <hr>
<table>
    <form action="/register_user" method="post">
        <tr>
            <td>Enter Name: <input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Enter Username: <input type="text" name="loginid"></td>
        </tr>
        <tr>
            <td>Enter Password: <input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Register User"></td>
        </tr>
    </form>
</table>
</div>
</body>
</html>